<html>
  <head>
    <title>Logs Viewer</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
      .container {
        padding: 20px;
        line-height: 1.6;
      }
      .log-section {
        margin-bottom: 20px;
      }
      .log-title {
        font-size: 20px;
        font-weight: bold;
        color: #333;
        margin-bottom: 10px;
      }
      .log-content {
        background: #f9f9f9;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        overflow-x: auto;
        font-family: monospace;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="log-section">
        <div class="log-title">Combined Logs</div>
        <div class="log-content">
          <%- combinedLog.replace(/\n/g, "<br />" ) %>
        </div>
      </div>
      <div class="log-section">
        <div class="log-title">Error Logs</div>
        <div class="log-content"><%- errorLog.replace(/\n/g, "<br />" ) %></div>
      </div>
    </div>
  </body>
</html>
